h1{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 48px;
    text-align: center;
}
p{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 18px;
    text-align: center;
}
body{
    background: black;
    background-image: url("TEETH!throughaspectralizer.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.art{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 300px;
}
h2{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 32px;
    text-align: center;
}
#bar{
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 100px;
    width: 100%;
    color: white;
    background-color: white;
}
#back{
    position: absolute;
    transform: translate(0%, 10%);
    height: 80%;
    z-index: 2;
}
h3{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 24px;
    text-align: center;  
}