h1{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 48px;
    text-align: center;
}
p{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 18px;
    text-align: center;
}
body{
    background: black;
    background-image: url("TEETH!throughaspectralizer.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.art{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 300px;
}
h2{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 32px;
    text-align: center;
}
#back{
    position: absolute;
    height: 79px;
}