h1{
    color: white;
    font-family: "TF2 Build", "sans-serif";
    font-weight: lighter;
    font-size: 48px;
}
hr{
    color: white;
}
p{
    color: white;
    font-family: "TF2 Build", sans-serif;
}
body{
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}