h1{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 48px;
    text-align: center;
}
p{
    color: white;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    font-size: 18px;
}
body{
    background: black;
    background-image: url("TEETH!throughaspectralizer.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
button{
    background-color: #B400AA;
    font-family: "Azonix", "Arial Black", "Arial", "sans-serif";
    color: white;
    border-radius: 7px;
    border-width: 4px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 32px;
    border-color: white;
}
